body {
    background-image: url('img/unidade-sao-caetano-4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 10px;
    color: #007bff;
}

a:hover {
    text-decoration: none;
    color: #0056b3;
}
